# Dependency directories
node_modules

# Bundle
public/bundle.js
public/bundle.js.*

# Compiled CSS file
public/resources/styles/style.css

# Npm debug log 
npm-debug.log

# Build output
webpage/

# MacOS
.DS_Store
