@use './colors';
@use './zindex';

#board {
	width: 70%;
	height: 92%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	order: 2;
	@media screen and (max-width: 850px) {
		width: 100%;
		height: 48%;
	}
}

.board-background {
	background: url('/resources/images/bg-image.svg');
	background-size: cover;
	background-position: center;

	@media screen and (max-width: 650px) {
		background-color: black;
		background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 6px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 8px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	}
}

.board-container.basement {
	background: url('/resources/images/rust.jpg');
}

.board-container.engine {
	background: url('/resources/images/metal-cross.png') #000000;
}

.board-container.cargo {
	background: url('/resources/images/concrete.png') #000000;
}

.board-container.garden {
	background: url('/resources/images/dirt.svg') #5B3000;
	background-size: 25%;
}

.board-container.control {
	background: url('/resources/images/marble.png');
	background-size: 50%;
}

.board-container {
	height: 88%;
	width: 65%;
	padding-bottom: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 15px;
	border-bottom: 2vh solid rgba(0, 0, 0, 0.5);
	@media screen and (max-width: 1600px) {
		height: 82%;
		width: 70%;
	}
	@media screen and (max-width: 1400px) {
		height: 80%;
		width: 80%;
	}
	@media screen and (max-width: 1200px) {
		height: 80%;
		width: 94%;
	}
	@media screen and (max-width: 1000px) {
		height: 59%;
		width: 94%;
	}
	@media screen and (max-width: 850px) {
		height: 77%;
		width: 58%;
	}
	@media screen and (max-width: 700px) {
		height: 77%;
		width: 77%;
	}

	.tile {
		z-index: zindex.$z-tile;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: -8px 2px 0 1px;
		border-radius: 20px;
		border-bottom: 2vh solid rgba(0,0,0,0.3);
		width: 19%;
		height: 19%;
		@media screen and (max-width: 850px) {
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			padding: 0 0 0 1px;
			margin: -4px 0 1px 2px;
			border-radius: 10px;
			background-color: #f2f2f2;
			border-bottom: 2vh solid rgba(0, 0, 0, 0.3);
			width: 18%;
			height: 17%;
		}
	}

	.clear {
		background: transparent;
		padding-bottom: 1%;
		border-bottom: 2vh solid transparent;
	}
	
	/* Have to put the black hole zindex on the tile
	 * to make it render below surrounding tiles */
	.clear:has(> .hole) {
		z-index: zindex.$z-black-hole;
	}

	.hole {
		width: 105%;
		animation: spin 1.2s infinite linear;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.basement.odd {
		background: url('/resources/images/wall.png') colors.$orange;
		background-size: 200%;
	}

	.basement.even {
		background: url('/resources/images/asfalt-light.png') colors.$orange-dark;
	}

	.engine.odd {
		background: url('/resources/images/metal-1.png') colors.$white;
		background-size: cover;
		border-bottom: 2vh solid rgba(0,0,0,0.5);
	}

	.engine.even {
		background: url('/resources/images/metal-2.png') colors.$white-dark;
		background-size: cover;
		border-bottom: 2vh solid rgba(0,0,0,0.5);
	}

	.cargo.odd {
		background: url('/resources/images/mesh.png') #151313;
		background-size: 25%;
	}

	.cargo.even {
		background: url('/resources/images/mesh.png') #252121;
		background-size: 25%;
	}

	.garden.odd {
		background: url('/resources/images/grass-1.png') colors.$green no-repeat;
		background-size: 102%;
	}

	.garden.even {
		background: url('/resources/images/grass-2.png') colors.$green-dark;
		background-size: 102%;
	}

	.control.odd {
		background: url('/resources/images/tile-squares.png') #1c1c1c;
		background-size: 75%;
	}

	.control.even {
		background: url('/resources/images/tile-squares.png') #4d4d4d;
		background-size: 75%;
	}

	.box-tile {
		z-index: zindex.$z-box;
		width: 90%;
		margin-bottom: 7%;
	}

	.elevator-no-animation {
		width: 70%;
		margin-bottom: 10%;
		top: 0;
		position: relative;
	}

	.elevator-animation {
		width: 70%;
		margin-bottom: 10%;
		top: 0;
		position: relative;
		animation-name: fadeOutUp;
		animation-duration: 4s;

		@keyframes fadeOutUp {
		  from {
		    opacity: 1;
		  }
		  to {
		    opacity: 0;
		    transform: translate3d(0, -100%, 0);
		  }
		}
	}


	.elevator-bottom {
		background: url('/resources/images/elevator-below.svg') no-repeat;
		background-size: 75%;
		background-position: center center;
		margin-bottom: -4%;
		display: flex;
		justify-content: center;
		align-content: center;
		/* Firefox: width and height must be set */
		width: 100%;
		height: 100%;
		margin: min(1.8vw, 12%);
	}
}
