/* Import Assets */
@use './colors.scss';
@use './nav.scss';
@use './commandPane.scss';
@use './board.scss';
@use './commandQueue.scss';
@use './runButton.scss';
@use './robot.scss';
@use './win.scss';

/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';

/* Fonts */

$heading: 'Press Start 2P', cursive;
$text: 'Space Mono', monospace;

body {
	background: colors.$blue;
	overflow: hidden;
	min-width: 330px;
}

h1 {
	margin: 0;
}

h3{
	font-family: $heading;
	font-size: 2.5vh;
	color: colors.$white;

	@media screen and (max-width: 850px) {
		font-size: 2vh;
	}
}

h4{
	font-family: $heading;
	font-size: 16px;
	color: colors.$white-dark;
	cursor: default;
}

.app {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;

	height: 100%;

	user-select: none;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	@media screen and (max-width: 850px) {
			flex-direction: column;
	}
}
