@use './colors';
@use './zindex';

.navigation {
  width: 100%;
  height: 12.3%;
  background: colors.$blue-darkest;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 7px solid colors.$blue-shadow;
  min-height: 70px;

  @media screen and (max-width: 600px) {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .invisible-container {
    width: 30%;
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: visible;

    @media screen and (max-width: 600px) {
      width: 30%;
    }

    .logo-container {
      z-index: zindex.$z-nav-logo;
      height: 120%;
      width: 90%;
      padding: 2%;
      background: colors.$blue-darkest;
      overflow: visible;
      border-radius: 40px;
      border-bottom: 7px solid colors.$blue-shadow;
      text-align: center;

      @media screen and (max-width: 600px) {
        height: 100%;
        border-radius: 0px;
        border-bottom: 0;
        margin-left: 10px;
        margin-top: 10px;
        background: none;
      }

      @media screen and (max-width: 380px) {
        margin-left: 50%;
      }

      .logo {
        display: inline-block;
        height: 95%;

        @media screen and (max-width: 600px) {
          height: 80%;
        }
      }
    }
  }

  .levels-container {
    height: 60%;
    margin-right: 4%;
    display: flex;
    flex-wrap: nowrap;

    .levels {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 92%;
      width: 250px;
      white-space: nowrap;
      border-radius: 10px 0 0 10px;
      border: 2px solid colors.$blue;
      background: colors.$blue-darkest;
      font-family: 'Press Start 2P', cursive;
      font-size: 14px;
      color: colors.$blue;
      cursor: pointer;

      @media screen and (max-width: 550px) {
        width: 50px;
        background: url('/resources/images/burger-button.png') no-repeat;
        background-position: center center;
        background-size: 90%;
        color: transparent;
      }

      &:hover {
        color: colors.$blue-light;
        border: 2px solid colors.$blue-light;
        @media screen and (max-width: 550px) {
          color: transparent;
        }
      }
    }

    .about {
      height: 92%;
      width: 20px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid colors.$blue;
      background: colors.$blue-darkest;
      font-family: 'Press Start 2P', cursive;
      font-size: 20px;
      color: colors.$blue;
      cursor: help;
    }

    .about:hover {
      color: colors.$blue-light;
      border: 2px solid colors.$blue-light;
    }

    .sound {
      height: 92%;
      width: 50px;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      border: 2px solid colors.$blue;
      background: colors.$blue-darkest;
      font-family: 'Press Start 2P', cursive;
      font-size: 20px;
      color: colors.$blue;
      cursor: pointer;

      .sound-img {
        height: 50%;
        width: 50%;
      }

      @media screen and (max-width: 850px) {
        width: 20%;
      }

      &:hover {
        color: colors.$blue-light;
        border: 2px solid colors.$blue-light;
      }
    }

    .about-backstory, .modal-heading {
      text-align: center; 
      font-family: 'Space Mono', monospace;
    }
    .about-backstory {
      padding: 15px 30px 10px 30px;
    }
    .modal-heading {
      font-size: 30px;
      @media screen and (max-width: 850px) {
        font-size: 22px;
      }
    }
    .modal-heading:first-child {
      margin-top: 0.2em;
    }

    .level-select-container {
      padding: 5% 10% 5% 10%;
    }

    .level-select {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; 
      width:  100%;
      height: 10%;
      margin: 0 auto;
      margin-top: 10px;
      white-space: nowrap;
      border-radius: 10px;
      border: 2px solid colors.$blue;
      background: colors.$blue-darkest;
      font-size: 20px;
      color: colors.$blue;
      cursor: pointer;

      @media screen and (max-width: 850px) {
        width: 65%;
        height: 12%;
        padding: 0 20%;
        right: 20px;
      }
      &:hover {
        color: colors.$blue-light;
        border: 2px solid colors.$blue-light;
      }
    }


    .modal-button-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      .modal-button {
        margin: 0 10px;
        height: 80%;
        width: 150px;
        min-width: 45px;
        padding: 10px 30px;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-shadow: 0px -2px rgba(0, 0, 0, 0.2);
        cursor: default;

        @media screen and (max-width: 850px) {
          margin: 0 8px;
          height: 42px;
          min-width: 27px;
        }
      }

      .how-to-action {
        background: colors.$green;
        border-bottom: 12px solid colors.$green-dark;
      }

      .how-to-action:hover {
        background: #93cc67;
        border-bottom: 12px solid #70ab42;
      }

      .modal-animate {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
      }

      .modal-button:active {
        transform: translate(0px,6px);
        -webkit-transform: translate(0px,6px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      }

    }

    .intro-b3 {
      height: 25%;
    } 

    .how-to-small {
      height: 8%;
      width: 10%;
    } 

    .control-small {
      height: 7%;
      width: 7%;
    } 

  }
}

.skylight-wrapper {
  /* Level picker dialog must be above robot */
  z-index: zindex.$z-modal;

  /* Hide empty h2 element */
  h2 {
    display: none;
  }
}
.skylight-dialog {
  /* Must use important to override Skylight's default inline styling */
  background-color: #00897B !important;
  color: #ffffff !important;
  border-radius: 2%;
  overflow-y: auto !important;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.0);
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0.0);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: colors.$blue-darkest;
  }
}