@use './zindex';

.robot-container {
  z-index: zindex.$z-robot;
  position: absolute;

  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  overflow: visible;
}

.up-down-animation {
  animation: upDown 400ms ease-in-out infinite alternate;

  @keyframes upDown {
    0% {
      translate: 0 min(-0.22vw, -0.22vh);
    }
    100% {
      translate: 0 max(0.22vw, 0.22vh);
    }
  }
}

.b3-container-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fadeOut 1.8s ease-in normal forwards;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.4;
      top: -30%;
    }
  }
}

.b3-robot {
  width: 100%;
  height: 100%;
  z-index: zindex.$z-robot;
  overflow: visible;


  @media screen and (max-width: 850px) {
    width: 40%;
    height: 40%;
  }
}

.b3-shadow {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: zindex.$z-robot-shadow;
  translate: 0% 25%;
  overflow: visible;

  &-animation {
    animation: fadeOutShadow 3s;

    @keyframes fadeOutShadow {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  @media screen and (max-width: 850px) {
    width: 40%;
    height: 40%;
  }
}
